{% extends 'base.html' %}

{% block title %}
  Sukses
{%endblock title%}
{% block meta %}
  
{% load static %}
{% endblock meta %}

{% block content %}
{% block navbar %}
{% endblock navbar %}

<section class="vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Password berhasil tersimpan. Silakan login menggunakan password baru <br> 
            <button onclick="location.href='/login'" type="button" class="btn btn-warning">Sign in</button>
          </h2>
      </div>
    </div>
  </div>  



  </section>

 
{% endblock content %}