{% extends 'base.html' %}

{% block title %}
  Change Password
{%endblock title%}
{% block meta %}
  
{% load static %}
{% endblock meta %}

{% block content %}
{% block navbar %}
{% endblock navbar %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <h4 class="font-weight-bold">Please Enter Your New Password</h4>
            <br>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                        {{ message }}
                      </div>
                {% endfor %}
        {% endif %} 
          <form method="POST" action="/ubah-password/submit/submit">
            {% csrf_token %}
            <input type="hidden" name="username" value={{username}}>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="password1">New Password</label>
              <input type="password" id="password1" class="form-control form-control-lg" name="password"/>
              <div id="password-validation-message1" class="text-danger"></div>
            </div>

            <div class="form-outline mb-4"> 
                <label class="form-label" for="password2">Confirm New Password</label>
                <input type="password" id="password2" class="form-control form-control-lg" name="confirmation_password"/>
                <div id="password-validation-message2" class="text-danger"></div>
              </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
  
                <!-- Submit button -->
                <button type="submit" id="submit-pw1" class="btn btn-warning btn-block">Submit</button>
                
                <div class="form-outline mb-4"></div>   
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script>
    const passwordInput = document.getElementById("password1");
    const passwordValidationMessage1 = document.getElementById("password-validation-message1");
    var password1 = ""
    passwordInput.addEventListener("input", function() {
      password1 = passwordInput.value;
      if (password1.length < 8) {
        passwordValidationMessage1.textContent = "Password must be at least 8 characters";
        document.getElementById("submit-pw1").disabled = true;
      } else {
        passwordValidationMessage1.textContent = "";
        if (document.getElementById("password-validation-message2").innerHTML === "") {
          document.getElementById("submit-pw1").disabled = false;
        }
      }
      const password2 = passwordInput2.value;
      if (password1 != password2) {
        passwordValidationMessage2.textContent = "Passwords do not match";
        document.getElementById("submit-pw1").disabled = true;
      } else {
        passwordValidationMessage2.textContent = "";
        if (document.getElementById("password-validation-message1").innerHTML === "") {
          document.getElementById("submit-pw1").disabled = false;
        }
      }
    });
  
    const passwordInput2 = document.getElementById("password2");
    const passwordValidationMessage2 = document.getElementById("password-validation-message2");
  
    passwordInput2.addEventListener("input", function() {
      const password2 = passwordInput2.value;
      if (password1 != password2) {
        passwordValidationMessage2.textContent = "Passwords do not match";
        document.getElementById("submit-pw1").disabled = true;
      } else {
        passwordValidationMessage2.textContent = "";
        if (document.getElementById("password-validation-message1").innerHTML === "") {
          document.getElementById("submit-pw1").disabled = false;
        }
      }
    });
  
  </script>
{% endblock content %}