{% extends 'base.html' %}

{% block title %}
    Login
{%endblock title%}
{% block meta %}
{% load static %}
<style>
  .or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.or-container hr {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.or-container .or-text {
  font-size: 18px;
  font-weight: bold;
  color: #999;
  /* text-transform: uppercase; */
}
</style>
{% endblock meta %}

{% block content %}
{% block navbar %}
{% endblock navbar %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <h4 class="font-weight-bold" style="color: #263F6B;">Welcome to Sistem Informasi Event Fasilkom UI,</h4>
              <h6>Please login first</h6>
            <br>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show"  id="alert-custom" role="alert">
                        {{ message }}
                      </div>
                {% endfor %}
            {% endif %} 

          <form method="POST" action="">
            {% csrf_token %}
            <!-- Username input -->
            <div class="form-outline mb-4">
              <input type="text" id="form1Example13" class="form-control form-control-lg" name="username"/>
              <label class="form-label" for="form1Example13">Username</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form1Example23" class="form-control form-control-lg" name="password"/>
              <label class="form-label" for="form1Example23">Password</label>
            </div>
  
            <div class="d-flex justify-content-around align-items-center mb-4">
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-dark btn-block bg-color text-dark" style="background-color:#E7E7E7">Sign in</button>
            
            <div class="form-outline mb-4"></div>   
            
            </div>
          <a href="/forget-password">Forgot Password?</a>
          </form>

          <div class="or-container">
            <hr>
            <span class="or-text">or</span>
            <hr>
          </div>
          <div class="button-container">
            <a href="/auth-sso/login" class="btn btn-dark btn-block bg-color text-dark" style="background-color:#F7F5BC">Sign in with SSO Account</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
