{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock title %}
{% block content %}
{% block navbar %}
{% endblock navbar %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <h3 class="font-weight-bold">Homepage si-event</h3>
        <br />
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</section>

{% endblock content %}
