{% extends 'base.html' %}

{% block meta %}
    <title>Error</title>
{% load static %}
{% endblock meta %}

{% block content %}
{% block navbar %}
{% endblock navbar %}

<section class="vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        {% if message %}
          <h2 class="heading-section">{{ message }}</h2>
        {% else %}
          <h2 class="heading-section">Only Admin Can Access This Feature!</h2>
        {% endif %}
      </div>
    </div>
  </div>  



  </section>

 
{% endblock content %}