{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Employee Data
{% endblock %}
{% block content %}
<div>
    <h1 style="text-align: center; font-weight: bold">400</h1>
    <h4 style="text-align: center; font-weight: bold">Wrong Input</h4>

    <div style="text-align: center">
        <img
            src="{% static 'img/oops.png' %}"
            width="350"
            height="350"
            class="img-fluid"
            alt="Search image"
        />
        <h5>{{ error }}</h5>
        <br />
        <a
            href="{% url 'pegawai:add_pegawai' %}"
            role="button"
            class="btn btn-warning"
            >Back</a
        >
        <br /><br />
    </div>
</div>
{% endblock %}
