{% extends 'base.html' %}
{% load static %}

{% block title %}
Tambah Data Pegawai
{% endblock %}

{% block content %}
<div class="container w-75 my-5">
    <div class="row align-items-center">
        <div class="col align-self-center">
            <div class="card" style="border-radius: 10px; border: 2px solid; border-color: #2A3990;">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img width="400px" height="400px" src={% static "img/add.png" %} class="img-fluid p-3"
                            alt="Employee image">
                    </div>
                    <div class="col px-2">
                        <div class="card-body">
                            <h2 class="card-title text-center mt-4">Add Data Pegawai</h2>
                            <h5 class="card-subtitle mb-2 text-muted text-center">File berupa .csv/.xlsx/.xls</h5>
                            <div class="align-self-center">
                                <form method="post" enctype="multipart/form-data"
                                    action="{% url 'pegawai:save_pegawai' %}">
                                    {% csrf_token %}
                                    <div class="form-group mt-5">
                                        <label class="form-label" for="fileSelect">File Data Pegawai</label>
                                        <input required class="form-control-file border" id="fileSelect" name="file"
                                            type="file"
                                            accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                        <input class="mt-4 btn" style="background-color: rgb(240, 173, 78, 0.75);"
                                            type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}