{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Event
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h3>Create Event</h3>
          </div>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="event_name"> Event Name:</label>
          <input type="text" class="form-control" id="event_name" name="event_name" required>
        </div>
        <div class="form-group">
          <label for="start_date">Start Date:</label>
          <input type="datetime-local" class="form-control" id="start_date" name="start_date" required>
        </div>
        <div class="form-group">
          <label for="end_date">End Date:</label>
          <input type="datetime-local" class="form-control" id="end_date" name="end_date" required>
        </div>
        <div class="form-group">
          <label for="expense">Expense:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Rp</span>
            </div>
            <input type="number" class="form-control" id="expense" name="expense" required>
          </div>
        </div>
        <div class="form-group">
          <label for="tax">Tax (%):</label>
          <input type="number" class="form-control" id="tax" name="tax" step="0.01" required>
        </div>
        <div class="form-group">
          <label for="pegawai_file">List Pegawai (CSV or XLSX):</label>
          <input id="pegawai_file" class="form-control-file" name="pegawai_file" type="file" accept=".csv, .xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
          <br><p> atau isi dengan nomor pegawai: </p>
          <input type="text" class="form-control" id="list_employee_no" name="list_employee_no" placeholder="ex: 1234567 1293040593">
        </div>
        <button type="submit" class="btn btn-primary">Create Event</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}