{% extends 'base.html' %}
{% load static %}

{% block title %}
Create Event
{% endblock %}

{% block head %}
<style>
  #warningMsg {
    color: red;
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h3>Create Event</h3>
          </div>
        </div>
      </div>
      <div class="modal" id="errDateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="warningMsg">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              The start date cannot be later than the end date
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">I understood</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="errEmpModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="warningMsg">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Please fill in all required fields
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">I understood</button>
            </div>
          </div>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data" id="dataForm">
        {% csrf_token %}
        <div class="form-group">
          <label for="event_name"> Event Name:</label>
          <input type="text" class="form-control" id="event_name" name="event_name" required>
        </div>
        <div class="form-group">
          <label for="start_date">Start Date:</label>
          <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        <div class="form-group">
          <label for="end_date">End Date:</label>
          <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>
        <input type="hidden" name="action" id="form_action">
        <button type="submit" class="btn btn-primary" id="create_event">Create Event</button>
        <button type="submit" class="btn btn-primary" id="add_role" name="add_role" value="true">Add Roles</button>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var successMessage = "{{ success_message }}";
    if (successMessage) {
      $('#succModal').modal('show');
    }
  });

  const nextBtn = document.getElementById('add_role');
  const createBtn = document.getElementById('create_event');
  const formAction = document.getElementById('form_action');

  nextBtn.addEventListener('click', function(event) {
    event.preventDefault();
    const startDt   = document.getElementById('start_date');
    const endDt     = document.getElementById('end_date');
    const eventName = document.getElementById('event_name');

    if ((eventName.value == '' || eventName.value == null) || (startDt.value == '' || startDt.value == null) || (endDt.value == '' || endDt.value == null)){
      $('#errEmpModal').modal('show');
    }
    else if (startDt.value >= endDt.value){
      $('#errDateModal').modal('show');
    }  
    else{
      formAction.value = 'add_roles';
      document.getElementById('dataForm').submit();
    }
  });

  createBtn.addEventListener('click', function(event) {
    event.preventDefault();
    const startDt   = document.getElementById('start_date');
    const endDt     = document.getElementById('end_date');
    const eventName = document.getElementById('event_name');

    if ((eventName.value == '' || eventName.value == null) || (startDt.value == '' || startDt.value == null) || (endDt.value == '' || endDt.value == null)){
      $('#errEmpModal').modal('show');
    }
    else if (startDt.value >= endDt.value){
      $('#errDateModal').modal('show');
    } 
    else{
      formAction.value = 'create_event';
      document.getElementById('dataForm').submit();
    }
  });
</script>
{% endblock %}