{% extends 'base.html' %}

{% block title %}
  Update Account
{%endblock title%}
{% block meta %}
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
{% load static %}
{% endblock meta %}

{% block content %}
{% block navbar %}
{% endblock navbar %}

<nav aria-label="breadcrumb" class="ml-3">
  <ol class="breadcrumb bg-white">
    <li class="breadcrumb-item"><a href="{% url 'home:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'get_events' %}">Event</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
  </ol>
</nav>

<div class="text-center">
    <h1 class="font-weight-bold">{{event.event_name}}</h1 >
</div>
<br>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" style="margin-left: 6vw; margin-right: 6vw;" role="alert">
    {{ message }}
    </div>
    {% endfor %}
{% endif %} 

<div class="container detail" style="margin-left: 6vw;">
    <h5>Start date: {{event.start_date}}</h5>
    <h5>End date: {{event.end_date}}</h5>
    <br>
    <br>
</div>
<div class="container" style="margin-bottom: 50px;">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h3 class="heading-section">Event Employee</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrap">
        {% if event_employees %}
          {% if event.creator == account %}
            <div style = "display: flex; justify-content:flex-end; margin-bottom: 10px;">
              <a href="/event/add-employee/{{event.id}}" class="btn btn-primary float-right">Add Employee</a>
            </div>  
          {% endif %}
        <table class="table table-striped" aria-describedby="All Account" id="sortTable">
          <thead style="background-color: #2A3990; color: white;">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Honor</th>
            <th scope="col">Pph (%)</th>
            <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for event_employee in event_employees %}
            <tr>
              <td style="vertical-align: middle;">{{event_employee.employee.employee_name}}</td>
              <td style="vertical-align: middle;">{{event_employee.role}}</td>
              <td style="vertical-align: middle;">
                <script>
                  var honor = {{event_employee.honor}};
                  var honor_format = ((honor).toLocaleString('ID', {
                    style: 'currency',
                    currency: 'IDR',
                  }));
                  document.write(honor_format.slice(0,2) + honor_format.slice(3));
                </script>
              </td>
              <td style="vertical-align: middle;">{{event_employee.pph}}</td>
              <td>
                {% if event.creator == account %}
                  <a href="/event/update-employee/{{event_employee.id}}" class="btn btn-warning">Update</a>

                  <button class="btn btn-danger" type="button" id="delete-event-employee" data-toggle="modal" data-target="#deleteEventEmployeeModal{{event_employee.id}}">Delete</button>

                    <div class="modal fade" id="deleteEventEmployeeModal{{event_employee.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteEventEmployeeModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deactivateAccountModalLabel">Delete Event Employee</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure to delete {{event_employee.employee.employee_name}} from this event?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form method="POST" action="/event/delete-employee/{{event_employee.id}}">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div style="text-align: center;">
          <img src={% static "img/no_employee.png" %} width=500 height=400 class="img-fluid" alt="Search image">
          <br>
          {% if event.creator == account %}
          <a href="/event/add-employee/{{event.id}}" role="button" class="btn btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
              <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
            </svg>
            Add Employee
          </a>
          {% endif %}
          <br><br>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>

<script>
  $('#sortTable').DataTable();
</script>

{% endblock content %}
