{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Employee
{% endblock %}
{% block head %}
<style>
    #warningMsg {
        color: red;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home:home' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'get_events' %}">Event</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Generate
                        </li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col text-center">
                        <h3>Form Detail Surat Tugas {{event.event_name}} ({{ event.terms }})</h3>
                    </div>
                </div>
            </div>

            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="validationCustom03" class="form-label">Nomor Surat Tugas</label>
                    <input name="nomor_surat_tugas" type="text" class="form-control" id="validationCustom03" 
                    placeholder="Nomor Surat Tugas yang sesuai dengan format" required>
                    <div class="invalid-feedback">
                      Masukkan Nomor Tugas.
                    </div>
                </div>

                <label for="exampleFormControlInput1" class="form-label">Penanggung Jawab</label>
                <div class="border rounded p-3 mb-3">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama</label>
                        <input name="nama_pj" type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="e.g. Mirna Adriani, Ph.D." required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Jabatan</label>
                        <input name="jabatan_pj" type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="e.g. Dekan Fasilkom UI" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Perihal Event</label>
                    <textarea name="perihal_event" class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="e.g. Pengukuhan Guru Besar" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Tugas Panitia</label>
                    <textarea name="tugas_panitia" class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Berkoordinasi dengan pihak eksternal
Memastikan event berjalan pada waktunya
Memastikan event berjalan dengan lancar" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Target Pembebanan Anggaran</label>
                    <input name="target_anggaran" type="text" class="form-control" id="exampleFormControlInput1"
                        placeholder="e.g. Anggaran Fasilkom UI tahun 2019" required>
                </div>

                <div>
                    <div class="downloadBtn" style="text-align: center">
                        <br />
                        <button type="submit" id="tombolDownloadDocx" role="button"
                            class="btn btn-info">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cloud-download" viewBox="0 0 16 16">
                                <path
                                    d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                                <path
                                    d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z" />
                            </svg>
                            Generate Surat Tugas
                        </button>
                        <br /><br />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock %}