{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Employee
{% endblock %}
{% block head %}
<style>
    #confirmBtn {
        color: #212529;
        background-color: #7cc;
        border-color: #5bc2c2;
    }

    #confirmBtn:hover {
        color: #212529;
        background-color: #52bebe;
        border-color: #8ad3d3;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h3>Add Employee to Event</h3>
                    </div>
                </div>
            </div>
            <div class="modal" id="confirmModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation</h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                id="dismiss7"
                            >
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Please make sure your data is correct
                            <br />
                            Note:
                            <br />
                            - Empty number of role will make no staff to the
                            event
                            <br />
                            - Any negative value for pph and honor will be
                            converted automatically to non negative value.
                            <br />
                            - Any empty role name will be named by default
                            <br />
                            - Any empty employee target will not be input as a
                            staff
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                id="dismiss8"
                            >
                                Cancel
                            </button>
                            <button
                                type="submit"
                                class="btn btn-primary"
                                id="confirmBtn"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <form
                action="{% url 'input_employee_to_event' %}"
                method="POST"
                enctype="multipart/form-data"
                id="empForm"
            >
                {% csrf_token %}
                <div class="form-group">
                    <label for="num_fields"> Number Of Role:</label>
                    <input
                        type="number"
                        class="form-control"
                        id="num_fields"
                        name="num_fields"
                        required
                    />
                </div>
                <div id="fields" class="form-group"></div>
                <button
                    type="submit"
                    class="btn btn-primary mb-3"
                    id="submitBtn"
                >
                    Create Event
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    const numFields = document.getElementById("num_fields");
    const fieldsContainer = document.getElementById("fields");
    const submitBtn = document.getElementById("submitBtn");
    const confirmBtn = document.getElementById("confirmBtn");

    document
        .getElementById("dismiss7")
        .addEventListener("click", dismissModal);

    document
        .getElementById("dismiss8")
        .addEventListener("click", dismissModal);

    function dismissModal() {
        var modal = document.getElementById('confirmModal');
        $("#confirmModal").modal("hide");
    }

    submitBtn.addEventListener("click", function (event) {
        event.preventDefault();
        $("#confirmModal").modal("show");
    });

    confirmBtn.addEventListener("click", function (event) {
        document.getElementById("empForm").submit();
    });

    numFields.addEventListener("input", (event) => {
        while (fieldsContainer.firstChild) {
            fieldsContainer.removeChild(fieldsContainer.firstChild);
        }

        const numSelected = event.target.value;

        for (let i = 0; i < numSelected; i++) {
            const wrapper = document.createElement("div");
            const label = document.createElement("label");
            const role_name = document.createElement("input");
            const input_eno = document.createElement("input");
            const labelHonor = document.createElement("label");
            const labelEmp = document.createElement("label");
            const honor = document.createElement("input");
            const pphLabel = document.createElement("label");
            const pph = document.createElement("input");
            const searchTerm = document.createElement("input");
            const dropdown = document.createElement("select");

            wrapper.className = "border border-light-subtle rounded p-4";

            label.for = `field_${i}`;
            label.innerText = `Role ${i + 1}:  `;
            labelHonor.innerText = `Honor (BRUTO)`;
            labelEmp.innerText = `Employee: (find and select by employee number or employee name)`;
            pphLabel.innerText = `Pph`;

            role_name.type = "text";
            role_name.name = `role_field_${i}`;
            role_name.id = `role_field_${i}`;
            role_name.placeholder = "Role Name (ex: bendahara)";
            role_name.className = "form-control mb-3";
            role_name.required = true;

            honor.type = "number";
            honor.name = `honor_field_${i}`;
            honor.id = `honor_field_${i}`;
            honor.placeholder = "Honor (BRUTO) in rupiah (ex: 2000000)";
            honor.className = "form-control mb-3";
            honor.required = true;

            pph.type = "number";
            pph.name = `pph_field_${i}`;
            pph.id = `pph_field_${i}`;
            pph.placeholder = "Pph dalam persen (ex: 5)";
            pph.className = "form-control mb-5";
            pph.required = true;

            searchTerm.type = "text";
            searchTerm.name = `search_field_${i}`;
            searchTerm.id = `search_field_${i}`;
            searchTerm.placeholder = "Find By Name or Employee Number";
            searchTerm.className = "form-control mb-3";
            searchTerm.required = true;

            dropdown.id = `dropdown-select_${i}`;
            dropdown.name = `dropdown-select_${i}`;
            dropdown.className = "form-control";

            wrapper.appendChild(label);
            wrapper.appendChild(role_name);
            wrapper.appendChild(labelHonor);
            wrapper.appendChild(honor);
            wrapper.appendChild(pphLabel);
            wrapper.appendChild(pph);
            wrapper.appendChild(labelEmp);
            wrapper.appendChild(searchTerm);
            wrapper.appendChild(dropdown);

            fieldsContainer.appendChild(wrapper);

            fieldsContainer.appendChild(document.createElement("br"));
            fieldsContainer.appendChild(document.createElement("br"));

            const input = document.getElementById(`search_field_${i}`);
            input.addEventListener("input", function () {
                const searchTerm = input.value;
                const xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        const options = JSON.parse(this.responseText);
                        dropdown.innerHTML = "";

                        const defaultOptions = document.createElement("option");
                        defaultOptions.innerHTML =
                            "Click here to choose available employee based on input above";
                        dropdown.appendChild(defaultOptions);

                        options.forEach(function (option) {
                            const opt = document.createElement("option");
                            opt.value = option.employee_no;
                            opt.innerHTML = `${option.employee_name} (${option.employee_no})`;
                            dropdown.appendChild(opt);
                        });
                    }
                };
                xhr.open("GET", `/event/get-options/?search=${searchTerm}`);
                xhr.send();
            });

            dropdown.addEventListener("change", function () {
                const selectedOption = dropdown.options[dropdown.selectedIndex];
                searchTerm.value = selectedOption.text;
            });
        }
    });
</script>
{% endblock %}
