{% extends 'base.html' %}
{% load static %}
{% block title %}
Reupload Surat Tugas
{% endblock %}
{% block content %}
<div class="container w-75 my-5">
    <nav aria-label="breadcrumb" class="ml-3">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item">
                <a href="{% url 'home:home' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'get_events' %}">Event</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Repload Surat Tugas</li>
        </ol>
    </nav>
    <div class="row align-items-center">
        <div class="col align-self-center b">
            <div class="card" style="border-radius: 10px; border: 2px solid; border-color: #2A3990;">
                <div class="row no-gutters">
                    <div class="col-auto a">
                        <img width="400px" height="400px" src={% static "img/add.png" %} class="img-fluid p-3"
                            alt="Reupload image">
                    </div>
                    <div class="col px-2">
                        <div class="card-body">
                            <h2 class="card-title text-center mt-4">{{ title }}</h2>
                            <h4 class="card-subtitle text-center">

                                Reupload Signed Surat Tugas for event: {{event.event_name}} ({{ event.terms }})
                            </h4>
                            <div class="align-self-center">
                                <form method="post" enctype="multipart/form-data"
                                    action="{% url 'reupload_surat_tugas' id=event.id file_id=file_id %}">
                                    {% csrf_token %}
                                    <div class="form-group mt-5">
                                        <label class="form-label" for="fileSelect">Signed Surat Tugas File</label>
                                        <input required class="form-control-file border" id="fileSelect" name="signedSuratTugas"
                                            type="file"
                                            accept=".pdf" />
                                        <input class="mt-4 btn" style="background-color: rgb(240, 173, 78, 1);"
                                            type="submit" value="Upload">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
