header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo img {
  height: 185px;
  width: auto;
}

.title h1 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  padding-right: 115px;
}